* {
  font-family: monospace, sans-serif;
  font-size: 1.5em;
}

main,
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
}

/** Typography **/
h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 0.2em;
  text-decoration: underline;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.2em;
}

p {
  text-align: center;
}

.text_description {
  font-size: 0.75em;
}

.link_description {
  font-size: 0.75em;
  margin-top: 0.2em;
  text-decoration: none;
  color: red;
}

/** Welcome **/
#introduction {
  margin-top: 0.5em;
}

#tree {
  width: 80px;
}

#branch {
  width: 200px;
  position: absolute;
  left: 0;
}

#second_branch {
  width: 200px;
  position: absolute;
  right: 0;
}

/** Portfolio **/
#gallery_portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.portfolio-image {
  width: 8em;
  margin: 0.2em;
  border: 4px solid black;
  position: relative;
}

.portfolio-item {
  position: relative;
}

.portfolio-item:hover > .description {
  display: block;
}

.description {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: white;
  border: 4px solid black;
  text-align: center;
  width: 10em;
  padding: 0.5em;
}

/** Skills **/
ul {
  text-align: center;
  margin-bottom: 0.5em;
}

li {
  margin-bottom: 0.2em;
}

/** Education **/
#gallery_education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.certificate_container {
  max-width: 500px;
}

.certificate_container:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.certificate {
  max-width: 100%;
  margin-bottom: 0.3em;
  border: 4px solid black;
}

/** Links **/
#links {
  margin-bottom: 1em;
}

.iconify {
  width: 1em;
  height: 1em;
}

#leetcode {
  color: orange;
}

#codewars {
  color: red;
}

#github {
  color: black;
}

#codepen {
  color: black;
}

#icon_credits {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

/** Footer **/
footer {
  margin-bottom: 1em;
  font-family: monospace, sans-serif;
  font-size: 1.2em;
}

/*** queries **/
@media screen and (max-width: 599px) {
  #branch {
    display: none;
  }

  #second_branch {
    display: none;
  }
}
